@{
    ViewBag.Title = "За нас";
}
<h2>@ViewBag.Title</h2>

<p>Екип: <br />
    Силвия Янакиева, 61881, Софтуерно инженерство, silviya_yanakieva@icloud.com <br />
    Бойко Цветанов, 61953, Софтуерно инженерство, boiko.tsvetanov@abv.bg<br />
</p>
