@{
    ViewBag.Title = "Добавяне на виц";
}
<center><h2>@ViewBag.Title</h2></center>

@if (User.Identity.IsAuthenticated)
{
    <center>
        <div class="row">
            <p>Съдържание:</p> <input class="row" type="text" id="addJokeCont" name="addJokeCont" />
        </div>
        <br />
        <div class="row">
            <p>Категории:</p> <input type="text" id="addJokeCat" name="addJokeCat" />
        </div>
        <br />
        <div class="row">
            <input type="button" onclick="AddJokeToDatabase(document.getElementById('addJokeCont').value, document.getElementById('addJokeCat').value)" value="Добави виц" />
        </div>
    </center>
}

<script type="text/javascript">
    function AddJokeToDatabase(cont, cat) {
        if (cont != "" && cat != "") {
            $.get("/Home/AddJokeToDatabase", { content: cont, categories: cat }, function (data) { });
        }
    }
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>