@model IEnumerable<WebApplication1.Models.Jokes>
@{
    /**/

    ViewBag.Title = "Начална страница";
}

@*<div class="jumbotron">
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@

@*<div class="row">
        <div class="col-md-4">
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            <input type="button" id="btnFacebookLogin" value="Login with Facebook" class="btn btn-success" />
        </div>
    </div>*@

<h1>Добре дошли@(User.Identity.IsAuthenticated ? ", " + HttpContext.Current.User.Identity.Name : "")</h1>
<div class="col-lg-3">
    <center>
        <h3>Категории</h3>
        <input type=button onclick="GetJokesByCat('Веселин Маринов')" value="Веселин Маринов" /><br /><br />
        <input type=button onclick="GetJokesByCat('програмист')" value="Програмист" /><br /><br />
        <input type=button onclick="GetJokesByCat('блондинка')" value="Блондинка" /><br /><br />
    </center>
</div>
<div class="col-lg-9">
    <h2><center>Вицове</center></h2>
    <br />
    <center>
        <div class="row">
            <input type="text" id="inputCat" name="inputCat" />
            <input type=button onclick="GetJokesByCat(document.getElementById('inputCat').value)" value="Търси по категория" />
        </div>
    </center>
    <br />
    <center><input class="row" type=button onclick="GetRandomJoke()" value="Случаен виц" /></center>
    <div style="display:none" class="row" id="divRandJoke"></div>
    <br />
    <center><div class="fb-share-button" data-href="https://localhost:44341/Home/Index" data-width="100px" data-type="box_count"></div></center>

</div>
<script type="text/javascript">
    function GetRandomJoke() {
        document.getElementById('divRandJoke').style.display = 'block'
        $.get("/Home/btnRandomJoke_Click", function (data) {
            $("#divRandJoke").html(data);
        });
    }

    function GetJokesByCat(cat) {
        if (cat === undefined || cat === "" || cat === " ") {
            cat = "nqmatakavakategoriq"; //стойност по подразбиране
        }
        document.getElementById('divRandJoke').style.display = 'block'
        $.get("/Home/GetJokesByCategory", { category: cat }, function (data) {
            $("#divRandJoke").html(data);
        });
    }

</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>